<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mes.mes_project.mapper.ItemMapper">

    <!-- DB컬럼명 snake_case, Java 필드명 camelCase -->
    <!-- 품목 검색 -->
    <select id="search" parameterType="ItemSearchDto" resultType="ItemResponseDto">
        SELECT
        id,
        item_code       AS itemCode,
        item_name       AS itemName,
        spec,
        unit,
        unit_price      AS unitPrice,
        incentive_rate  AS incentiveRate,
        use_yn          AS useYn,
        created_by      AS createdBy,
        created_at      AS createdAt,
        updated_by      AS updatedBy,
        updated_at      AS updatedAt
        FROM mes_item
        <where>
            <if test="itemName != null and itemName != ''">
                AND item_name LIKE CONCAT('%', #{itemName}, '%')
            </if>
            <if test="useYn != null and useYn != ''">
                AND use_yn = #{useYn}
            </if>
        </where>
        ORDER BY id DESC
    </select>

</mapper>
